<!--
<div class="container">
    <div class="empty-space"></div>
    <div class="error-msg">Hmmm... that's awkward. <br> Seems like the dog ate the recipe. Please
        try again. <br> <br>
        <img id="not-found" src="assets/not-found.jpg" alt="not found">
    </div>
    <div class="empty-space"></div>
</div>
 -->

<div class="container">
    <div class="error-msg">
        Hmmm... that's awkward. <br> {{this.errorMessage}} <br> <br>
        <img id="not-found" src="assets/not-found.jpg" alt="not found">
    </div>
</div>