<div class="container">
    <div class="content">
        <div class="main-header">
            <div class="header1"> Welcome to</div>
            <div class="header2"> CHEF CURRY</div>
        </div>
        <div class="intro">
            Your personal AI-based Chef for curry dishes
        </div>
        <img id="logo" src="assets/logo8.png" alt="curry-logo">
        <div class="actions">
            <button mat-raised-button class="btn_ask" color="primary" (click)="openForm()">Start asking</button>
        </div>
    </div>
</div>
<recipe-examples></recipe-examples>