.container {
    background-image: url('../../assets/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    //width: 100vw;
    max-width: 100%;
    min-height: 48%;
    color: white;
    padding: 1px;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 50%; //max-width
    min-height: 100px;
    //  border: 2px solid red;


    .main-header {
        padding-top: 10px; //Lowering the text position, so the header will be more in the center
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.6;
        align-self: center;

        .header1 {
            margin-inline: 2px;
            text-align: center;
        }
    }

    .intro {
        font-size: 1.25rem;
        margin-bottom: 1vh;
        align-self: center;
    }

    #logo {
        border-radius: 45%;
        width: 12rem;
        align-self: center;
        max-width: 100%;
        /* Limit the width of the photo to its parent container */
        height: auto;
        /* Maintain the aspect ratio and adjust the height accordingly */
    }

    .actions {
        //margin-top: 5px;
        margin-block: 10px;
        align-self: center;

        .btn_ask {
            //padding: 1vh 1vh;
            /* Adjust padding to change button size */
            font-size: 1rem;
            /* Adjust font size to change button text size */
            height: 2.2rem;
            width: 7.5rem;
        }
    }

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;

    .footer-content {
        text-align: center;
        display: flex;
    }

    #heart-symbol {
        height: 25px;
        margin: 0 5px;
    }
}

@media (max-width: 1000px) {
    .content {
        //  width: auto;
        // border: 2px solid red;
        margin-inline: 10px;
        min-width: 404px;

        .main-header {
            // font-size: 3rem;
            min-width: auto;
        }

        .intro {
            //font-size: 2rem;
            //margin-bottom: 1vh;
            align-self: center;

            //width: 355px;
            // overflow-wrap: break-word;
            // word-wrap: break-word;
            //white-space: pre-wrap;
        }
    }


}

@media (max-width: 410px) {
    .container {
        max-width: 100%;
        text-align: center;

    }

    .content {
        //  width: auto;
        margin-inline: 10px;
        min-width: 90%; //should be 100%

        .main-header {
            // font-size: 3rem;
            min-width: auto;
        }

        .intro {
            //font-size: 2rem;
            //margin-bottom: 1vh;
            align-self: center;

            //width: 355px;
            // overflow-wrap: break-word;
            // word-wrap: break-word;
            //white-space: pre-wrap;
        }
    }
}

@media (max-width: 1260px) and (min-height: 1372px) {
    .content {
        max-width: 65%;
    }
}

@media (max-width: 960px) and (min-height: 1372px) {
    .content {
        max-width: 75%;
    }
}

@media (max-width: 610px) and (min-height: 1372px) {
    .content {
        max-width: 100%;
    }
}