$padding-value: 2%;

.favorites-container {
    padding-top: $padding-value;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    background-image: url('../../assets/recipe-background.avif');
    background-size: 100%;

    min-height: 100dvh;
    align-items: baseline;

    .mat-mdc-row .mat-mdc-cell {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
    }

    .mat-mdc-row:hover .mat-mdc-cell {
        border-color: black;
        font-weight: bold;
        font-size: larger;
    }

    .mat-column-description {
        padding: 1%;
    }

    .header-card {
        text-align: center;
        font-weight: bold;
        box-shadow: none !important;
        border-radius: 0 !important;
        border-bottom: 1px solid;
    }
}

@media (orientation: portrait) {
    .favorites-container {
        grid-template-columns: 1fr 10fr 1fr;
        padding-bottom: $padding-value;

        .mat-mdc-row:hover .mat-mdc-cell {
            border-color: unset;
            font-weight: normal;
            font-size: 1em;
        }

        .mdc-data-table__header-cell {
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }

        .mat-mdc-row .mat-mdc-cell {
            border-color: black;
            padding-top: $padding-value;
            padding-bottom: $padding-value;
        }

        .mat-mdc-paginator {
            border-top: 1px solid black;
            padding-bottom: $padding-value;
            white-space: nowrap;
        }

        .mat-column-date {
            display: none;
        }

        .mat-column-respFavorites {
            padding-top: $padding-value;
            padding-bottom: $padding-value;
            border-bottom: 1px solid black;
        }
    }
}