<div class="container">
    <div *ngIf="hasAccount && !isRegistrationSuccessful ">
        <form [formGroup]="login_form" class="login_form" (ngSubmit)="onLogin()">
            <h1>Login</h1>
            <mat-form-field>
                <mat-label for="email">Email:</mat-label>
                <input matInput type="email" autocomplete="email" formControlName="email">
                <mat-error *ngIf="!login_form.get('email')?.valid">Please enter valid email</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Password:</mat-label>
                <input type="password" matInput autocomplete="current-password" formControlName="password">
                <mat-error *ngIf="!login_form.get('password')?.valid">Please enter password</mat-error>

            </mat-form-field>

            <mat-error *ngIf="failedLogin">{{loginMesseage}}</mat-error>

            <button mat-raised-button class="btn_ask" color="primary" [disabled]="!login_form.valid || isLoggingIn ">
                <ng-container *ngIf="isLoggingIn; else loginButtonContent">
                    <mat-spinner diameter="20" color="accent"></mat-spinner>
                </ng-container>
                <ng-template #loginButtonContent>
                    LOGIN
                </ng-template>
            </button>

        </form>
        <div class="change-form">
            Don't have an account? <span class="changeForm_btn" (click)="hasAccount=false"> Register</span>
        </div>
    </div>


    <div *ngIf="!hasAccount">
        <form [formGroup]="register_form" class="register_form" (ngSubmit)="onRegister()">
            <h1>Register</h1>
            <!-- Add instructions on what emails are supported and what is considered valid password-->
            <mat-form-field>
                <mat-label for="email">Email:</mat-label>
                <input matInput type="email" id="email" formControlName="email" autocomplete="email">
                <button mat-icon-button matSuffix matTooltip="Your email address. Supports only .com and .co.il"
                    matTooltipPosition="above" matTooltipClass="register-tooltip" #emailTooltip="matTooltip">
                    <mat-icon>help_outline</mat-icon>
                </button>
                <mat-error *ngIf="(!register_form.get('email')?.valid && register_form.get('email')?.dirty)">

                    please enter valid email</mat-error>
            </mat-form-field>
            <div formGroupName="passwordGroup">
                <mat-form-field>
                    <mat-label for="password">Password:</mat-label>
                    <input matInput type="password" id="password" formControlName="password"
                        autocomplete="new-password">
                    <!--   <mat-hint>Password must </mat-hint>-->
                    <button mat-icon-button matSuffix
                        matTooltip="Must have at least 8 characters, 1 uppercase, 1 lowercase, 1 digit, 1 symbol."
                        matTooltipPosition="above" matTooltipClass="register-tooltip" #passwordTooltip="matTooltip"
                        (click)="showTooltip(passwordTooltip)">
                        <mat-icon>help_outline</mat-icon>
                    </button>

                </mat-form-field>

                <mat-form-field>
                    <mat-label for="password">confirm password:</mat-label>
                    <input matInput type="password" id="confirm_password" formControlName="confirm_password"
                        autocomplete="new-password">
                    <button mat-icon-button matSuffix matTooltip="type your password again" matTooltipPosition="above"
                        matTooltipClass="register-tooltip" #repeatTooltip="matTooltip"
                        (click)="showTooltip(repeatTooltip)">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                    <mat-error *ngIf="register_form.get('passwordGroup')?.errors?.['passwordMismatch']">
                        Passwords do not match
                    </mat-error>

                </mat-form-field>
                <mat-error
                    *ngIf="(!register_form.get('passwordGroup.password')?.valid && register_form.get('passwordGroup.password')?.dirty)">

                    <span> Password must have at least:</span>
                    <ul class="password-requirements">
                        <li [ngClass]="passwordTooShort ? 'failed' : 'passed'"> 8 characaters</li>
                        <li [ngClass]="passwordWithNoUpperCase ? 'failed' : 'passed'"> 1 uppercase</li>
                        <li [ngClass]="passwordWithNoLowerCase ? 'failed' : 'passed'">1 lowercase </li>
                        <li [ngClass]="passwordWithNoDigit ? 'failed' : 'passed'"> 1 digit </li>
                        <li [ngClass]="passwordWithNoSymbol ? 'failed' : 'passed'">1 symbol </li>
                    </ul>
                </mat-error>
            </div>
            <br>
            <button mat-raised-button class="btn_ask" color="primary"
                [disabled]="!register_form.valid || isRegistering ">
                <ng-container *ngIf="isRegistering; else registerButtonContent">
                    <mat-spinner diameter="20" color="accent"></mat-spinner>
                </ng-container>

                <ng-template #registerButtonContent>
                    REGISTER
                </ng-template>
            </button>
            <mat-error *ngIf="registrationMessage!== ''">{{registrationMessage}}</mat-error>


        </form>
        <div class="change-form">
            Already have an account? <span class="changeForm_btn" (click)="hasAccount=true"> Login</span>
        </div>


        password field is valid? {{ register_form.get('passwordGroup.password')?.valid}}
        <br>
        confirm_password field is valid? {{ register_form.get('passwordGroup.confirm_password')?.valid}}
        <br>
        fields are the same? {{ register_form.get('passwordGroup')?.valid}}


    </div>
    <!--<button (click)="test()">TEST</button> -->

    <div *ngIf="isRegistrationSuccessful && hasAccount" class="registrationMessage">
        <h2> {{registrationMessage}}</h2>
        <p>You are now logged in.</p>
        <div>
            <button mat-raised-button mat-dialog-close color="primary">CLOSE</button>
        </div>
    </div>
</div>

<!-- <button (click)="test()">CHECK</button> -->