/* For use in src/lib/core/theming/_palette.scss */
$curry-palette: (
    50 : #f7f1e0,
    100 : #eadbb3,
    200 : #ddc480,
    300 : #cfac4d,
    400 : #c49a26,
    500 : #ba8800,
    600 : #b38000,
    700 : #ab7500,
    800 : #a36b00,
    900 : #945800,
    A100 : #ffe1bf,
    A200 : #ffc98c,
    A400 : #ffb259,
    A700 : #ffa640,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$curry-palette-accent: (
    50 : #fef8ea,
    100 : #fcefcb,
    200 : #fae4a9,
    300 : #f7d986,
    400 : #f6d06c,
    500 : #f4c852,
    600 : #f3c24b,
    700 : #f1bb41,
    800 : #efb438,
    900 : #eca728,
    A100 : #ffffff,
    A200 : #fffcf6,
    A400 : #ffe9c3,
    A700 : #ffdfa9,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);