<div class="container">
    <div class="empty-space"></div>
    <div class="sections">
        <div class="section">
            <h2>Beef Meatball Curry</h2>
            <p> Tender beef meatballs immersed in a fragrant tomato-based curry. Bursting with aromatic spices, this
                dish offers a satisfying blend of flavors. Enjoy with rice or naan for a comforting and flavorful meal
                that will leave your taste buds craving more.</p>
            <button mat-raised-button color="accent" (click)="viewRecipe(1)">Full recipe</button>
            <br>
            <img src="assets/dish-example1.jpg" alt="Image 1">
        </div>
        <div class="section">
            <h2>Curry Lemon Chicken</h2>
            <p>Curry Lemon Chicken with Potatoes and Chili Pepper is a flavorful and aromatic dish that combines tender
                chicken breast, zesty lemon, hearty potatoes, and a hint of spicy chili pepper in a rich curry sauce.
            </p>
            <button mat-raised-button color="accent" (click)="viewRecipe(2)">Full recipe</button>
            <br>
            <img src="assets/dish-example2.jpg" alt="Image 2">
        </div>
        <div class="section">
            <h2>Chicken and Potato Masala</h2>
            <p>Succulent chicken and tender potatoes simmered in a flavorful blend of spices, creating a rich and
                aromatic curry. Served best with steamed rice or naan bread, it's a delightful combination of heat and
                comfort that will leave your taste buds craving more.</p>
            <button mat-raised-button color="accent" (click)="viewRecipe(3)">Full recipe</button>
            <br>
            <img src="assets/dish-example3.jpg" alt="Image 3">
        </div>

        <div class="section">
            <h2>&nbsp;&nbsp; Dummy Recipe Example &nbsp;</h2>
            <p>I like things to be symmetric, so I added a dummy recipe example.</p>
            <button mat-raised-button color="accent">Full recipe</button>
            <br>
            <img src="assets/dish-example4.jpg" alt="Image 3">
        </div>

    </div>
    <div class="empty-space"></div>
</div>