/*
.container {

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    justify-content: center;
    min-width: 100%;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;

    .sections {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    }

    .section {
        display: flex;
        flex-direction: column;

        text-align: center;

        h2 {
            font-size: 1.5rem;
        }

        p {
            min-height: 10px;
            font-size: 0.85rem;
            //   padding: 0px 2px 0px 2px;

        }

        img {
            max-width: 100%;
            height: auto;
            margin-top: 2vh;
            flex: 1 1 50%;
            width: 220px;
            height: 220px;
        }

        button {
            color: #333;
        }

    }

}*/

.container {
    display: flex;
    justify-content: center;

}

.sections {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;

    .section {
        padding: 10px;
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 10px;
        }

        p {
            flex: 1; // Make the p element grow to fill the available space
        }

        button {
            place-self: center;
            font-size: 0.83rem;
            height: 2.1rem;
            width: 5.9rem;
        }

        img {
            width: 13.75rem; //220px
            height: 13.75rem; //220px
            place-self: center;
        }
    }

    .section:last-child {
        display: none;

        @media (min-width: 548px) and (max-width: 813px) {
            display: flex;

            /*In case i want the last element to be in the center*/
            // grid-column: 1 / -1;
            /* Span all columns */
            // justify-self: center;
            /* Center horizontally */
            //align-self: center;
            /* Center vertically */
            //  min-width: 250px;
            //   max-width: 370px;
        }

    }
}

.empty-space {
    flex: 0 0 1rem;

    @media (max-width: 400px) {
        display: none; // Hide the empty space on really small screens
    }
}