<div class="message">
    <div class="popup-header">
        <img src="assets/logo2.png" alt="Sender Photo" class="sender-photo" />
        <h2>Message from your chef:</h2>
    </div>
    <ng-container *ngIf="this.data.type === 'ingredients-warn' ; else offer_login ">
        <div class="popup-content">
            <p>I will try to avoid adding more ingredients, but I can't guarantee.</p>
        </div>
        <div class="popup-actions">
            <button mat-raised-button color="accent" mat-dialog-close>OK</button>
        </div>
    </ng-container>
</div>

<ng-template #offer_login>
    <div class="message-container">
        <p>
            Hi! This is your chef speaking.<br>
            I have noticed that you are not logged in.<br>
            That means that you cannot save the recipe I am about to give you.<br>
            Would you like to login now?
        </p>

        <div class="checkbox-container">
            <mat-checkbox class="checkbox" [(ngModel)]="dontShowAgain"></mat-checkbox> <span>Do not show again</span>
        </div>

        <div class="button-container">
            <div class="auth-actions">
                <button mat-raised-button color="primary" (click)="redirectTo('login')">Login</button>
                <button mat-raised-button color="primary" (click)="redirectTo('register')">Register</button>
            </div>
            <div class="dismiss-container">
                <button mat-raised-button color="primary" (click)="this.closePopup()">Maybe later</button>
            </div>
        </div>
    </div>
</ng-template>