// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import '@angular/material/theming';
@import '/src/themes/curry-theme.scss';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$chef-curry-primary: mat-palette($curry-palette);
$chef-curry-accent: mat-palette($curry-palette-accent, 700, A100, A400);



//$chef-curry-primary: mat.define-palette(mat.$purple-palette, 500);  /////////
//$chef-curry-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);///////////

// The warn palette is optional (defaults to red).
$chef-curry-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$chef-curry-theme: mat.define-light-theme((color: (primary: $chef-curry-primary,
        accent: $chef-curry-accent,
        warn: $chef-curry-warn,
      )));

/*
$chef-curry-theme: mat.define-dark-theme((color: (primary: $chef-curry-primary,
        accent: $chef-curry-accent,
        warn: $chef-curry-warn,
      )));
      */

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($chef-curry-theme);

//@include angular-material-color($chef-curry-theme);

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Delicious+Handrawn&display=swap');

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  //font-family: 'Amatic SC', cursive;
  //font-family: 'Delicious Handrawn', cursive;

  // --backgroundHeight: 200px; 

}

* {
  box-sizing: border-box;
}

.dense-1 {
  @include mat.all-component-densities(-1);
}

.dense-3 {
  @include mat.all-component-densities(-3);
}

.my-theme .mat-radio-button .mat-radio-label-content {
  color: white;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  min-width: 2px !important;
}

@media (min-height: 1100px) {

  html {
    font-size: 1.5vh;
  }
}


//Defining scrollbar size
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Scrollbar progress bar and the meeting point of vertical and horizontal scrolling*/
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: rgb(64, 64, 64);
}

/* The draggable scrolling handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(96, 96, 96);
  background-clip: padding-box;
  border: 2px solid transparent;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #ba8800;
}

::-webkit-scrollbar-thumb:active {
  background-color: #ba8800;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: rgb(64, 64, 64);
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(204, 151, 4)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(204, 151, 4)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(223, 167, 13)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(204, 151, 4)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(204, 151, 4)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(223, 167, 13)'><polygon points='0,0 100,0 50,50'/></svg>");
}