@use '@angular/material' as mat;

@include mat.core();

@import '@angular/material/theming';
@import '/src/themes/curry-theme.scss';

$chef-curry-primary: mat-palette($curry-palette);
$chef-curry-accent: mat-palette($curry-palette-accent, 700, A100, A400);
$chef-curry-warn: mat.define-palette(mat.$red-palette);

// Creating the theme object
$chef-curry-theme: mat.define-light-theme((color: (primary: $chef-curry-primary,
        accent: $chef-curry-accent,
        warn: $chef-curry-warn,
      )));

// Including theme styles for core and each component used in your app
@include mat.all-component-themes($chef-curry-theme);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Segoe UI", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

* {
  box-sizing: border-box;
}

.dense-1 {
  @include mat.all-component-densities(-1);
}

.dense-3 {
  @include mat.all-component-densities(-3);
}

.my-theme .mat-radio-button .mat-radio-label-content {
  color: white;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  min-width: 2px !important;
}

@media (min-height: 1100px) {

  html {
    font-size: 1.5vh;
  }
}